article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

address,
article,
aside,
blockquote,
body,
cite,
div,
dl,
dt,
dd,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
main,
nav,
ol,
p,
section,
span,
ul {
  background: transparent;
  font-size: 100%;
  margin: auto;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  background: url(../images/uni.jpg);
  background-size: cover;
}

p {
  text-indent: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

article {
  background-color: white;
  width: 75%;
  border-left: 3px solid rgb(13, 39, 95);
  border-right: 3px solid rgb(13, 39, 95);
  border-radius: 10px;
}

body {
  clear: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

body header img {
  width: 100%;
  
}

/*
main - rgb(0,0,128) navy
secondary - rgb(181, 233, 253) light cyan
accent - rgb(212, 93, 212) pink-ish
*/

nav ul {
  background-color: rgb(0, 0, 128);
  line-height: 2.5em;
  list-style-type: none;
  padding-left: 0;
  float: left;
  width: 100%;
}

.horizontalNavigation li {
  float: left;
  width: 33.33%;
}

.horizontalNavigation a {
  text-align: center;
  display: block;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: pink;
}

nav a:hover {
  color: rgb(212, 93, 212);
  font-weight: bold;
}

section {
  clear: left;
}

h1 {
  background-color: rgb(181, 233, 253);
  text-align: center;
  font-size: 3em;
  border: 1px double black;
  border-radius: 5px;
  box-shadow: inset rgb(0, 0, 128) 10px 10px 20px;
}

h2 {
  background-color: rgb(212, 93, 212);
  color: rgba(255, 255, 255, 70);
  font-weight: normal;
  letter-spacing: 0.7em;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 128) 10px 10px 20px;
}

section h3 {
  background-color: rgb(0, 0, 128);
  color: rgb(212, 93, 212);
  font-weight: bold;
  word-spacing: 2em;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: inset rgb(0, 0, 128) 5px 5px 10px;
}

figure img {
  filter: grayscale(0.7);
  margin: 10px auto 0;
  display: block;
  border-radius: 20px;
}

figure img:hover {
  filter: grayscale(0);
}

table.schedule {
  border: 10px solid navy;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  width: 100%;
}

table.schedule td {
  vertical-align: top;
  padding: 5px;
}

table.schedule td,
table.schedule th {
  border: 2px solid gray;
}

table.schedule thead {
  color: white;
  background-color: rgb(63, 63, 173);
}

table.schedule col.firstcol {
  background-color: whitesmoke;
  width: 7%;
}

table.schedule col.daycols {
  width: 13%;
}

table.schedule thead tr {
  height: 20px;
}

table.schedule tbody tr {
  height: 30px;
}

table.schedule caption {
  text-align: right;
}

.information ol li {
  list-style-image: url(../images/flower.png);
  width: 400px;
}

.favoriteFoods {
  display: block;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

.favoriteFoods img {
  width: 100%;
  border-radius: 5px;
}

section .favoriteFoods h2 {
  background-color: rgb(103, 106, 255);
  color: black;
  letter-spacing: 0.4em;
  font-size: 13px;
}

#box1 {
  display: block;
  float: left;
  width: 50%;
}

#box2 {
  display: block;
  float: left;
  width: 50%;
}

#box3 {
  clear: left;
  display: block;
  float: left;
  width: 50%;
}

#box4 {
  display: block;
  float: left;
  width: 50%;
}

footer {
  clear: left;
  background-color: rgb(181, 233, 253);
  color: rgb(212, 93, 212);
  font-weight: bold;
  font-variant: small-caps;
  font-size: 0.9em;
  line-height: 3em;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", and serif;
  text-align: center;
  width: 100%;
}

footer::after {
  clear: both;
  content: "";
  display: table;
}
