/* DEVELOPER: Katherine Lim, IS117-001, Spring 2021 */
/*background elements styling here*/
html {
  background: black;
  background-size: cover;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

#rainStars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* nav styling here */
.nav-item {
  list-style-type: none;
  display: block;
  padding-left: .5em;
  padding-right: .5em;
}

li a {
  align-content: center;
  display: block;
}

li a:hover {
  font-style: italic;
}

.navbar-collapse {
  margin-left: 0;
  padding-left: 0;
}

.navbar-nav {
  padding-left: 0;
}

#monke {
  float: left;
  width: 75px;
  height: 50px;
  margin-left: 0;
  padding-left: 0;
}

#monke1 {
  float: left;
  width: 150px;
  height: 100px;
}

#monke2 {
  float: right;
  width: 150px;
  height: 100px;
}
/* main styling here */
.content {
  position: fixed;
  background-color: rgb(181, 233, 253);
  color: rgb(212, 93, 212);
  font-weight: bold;
  text-align: center;
  font-size: 2.5em;
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

#get_started {
  font-size: .5em;
}

/* game card styling here */
card {
  position: absolute;
}

.home1 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 250px;
  margin-left: 25vh;
  overflow: hidden;
}

.home2 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 250px;
  margin-left: 75vh;
  overflow: hidden;
}

.home3 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 250px;
  margin-left: 125vh;
  overflow: hidden;
}

.card1 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 250px;
  margin-left: 25vh;
  overflow: hidden;
}
.card2 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 250px;
  margin-left: 75vh;
  overflow: hidden;
}

.card3 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 250px;
  margin-left: 125vh;
  overflow: hidden;
}

.cardm1{
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 200px;
  margin-left: 25vh;
  overflow: hidden;
}

.cardm2{
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 200px;
  margin-left:75vh;
  overflow: hidden;
}

.cardm3{
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 200px;
  margin-left: 125vh;
  overflow: hidden;
}

.recc1 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 200px;
  margin-left: 50vh;
  overflow: hidden;
}

.recc2 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 200px;
  margin-left: 100vh;
  overflow: hidden;
}

.recc3 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 200px;
  margin-left: 50vh;
  overflow: hidden;
}

.recc4 {
  position: absolute;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.6);
  color: white;
  align-content: center;
  border-radius: 5px;
  border: white;
  width: 50vh;
  margin-top: 200px;
  margin-left: 100vh;
  overflow: hidden;
}

.manga-img {
  width: 50vh;
  height: 50vh;
}

img {
  width: 50vh;
  height: 30vh;
}

.card-title {
  margin-left: 2vh;
  font-weight: bolder;
}

.card-text {
  margin-left: 1vh;
  margin-right: 1vh;
}

.btn {
  position: relative;
  margin-left: 18vh;
  margin-bottom: 1vh;
}

.btng {
  position: relative;

}


/* contact form styling here */



/*footer styling here */
footer {
  clear: left;
  position: fixed;
  bottom: 0;
  background-color: rgb(181, 233, 253);
  color: rgb(4, 23, 90);
  font-weight: bold;
  font-variant: small-caps;
  font-size: 0.9em;
  line-height: 3em;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", and serif;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

footer::after {
  clear: both;
  content: "";
  display: none;
}
