article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

address,
article,
aside,
blockquote,
body,
cite,
div,
dl,
dt,
dd,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
main,
nav,
ol,
p,
section,
span,
ul {
  background: transparent;
  font-size: 100%;
  margin: auto;
  box-sizing: border-box;
}
/*background elements styling here*/
html {
  background: url(../images/uni.jpg);
  background-size: cover;
  z-index: -1;
}

video {
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
/* nav styling here */
nav {
  top: 0;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1;
  width: 100%;
  background-color: whitesmoke;
}

.navMenu li {
  width: 100%;
  float: left;
  list-style-type: none;
}

li a {

  align-content: center;
}

li a:hover {
  font-style: italic;
}

.submenu {
  display: none;
  float: none;
  position: absolute;
}

.drop-content{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#drop-menu:hover .drop-content {
  display: block;
}

/* main styling here */

.content {
  position: fixed;
  background-color: rgb(181, 233, 253);
  color: rgb(212, 93, 212);
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

#get_started {
  font-size: .5em;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/*footer styling here */
footer {
  clear: left;
  position: fixed;
  bottom: 0;
  background-color: rgb(181, 233, 253);
  color: rgb(212, 93, 212);
  font-weight: bold;
  font-variant: small-caps;
  font-size: 0.9em;
  line-height: 3em;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", and serif;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

footer::after {
  clear: both;
  content: "";
  display: none;
}
