/* DEVELOPER: Katherine Lim, IS117-001, Spring 2021 */
@media (max-width: 768px) {
    html {
        display: grid;
        background: url("../images/uni.jpg");
    }

    .content {
        display: block;
        margin: 0;
        padding: 0;
        width: auto;
    }

    .nav-item {
        list-style-type: none;
        display: block;
        padding-left: .5em;
        padding-right: .5em;
    }

    li a {
        align-content: center;
        display: block;
    }

    .navbar-collapse {
        margin-left: 0;
        padding-left: 0;
    }

    .navbar-nav {
        padding-left: 0;
    }

    .fullscreen-bg {
        display: none;
    }

    video {
        display: none;
    }

    .card {
        clear: none;
        float: none;
        width: auto;
    }

    .contact {
padding: 0 1em .5em;
    }

    footer {
        clear: left;
        position: fixed;
        bottom: 0;
        background-color: rgb(181, 233, 253);
        color: rgb(4, 23, 90);
        font-weight: bold;
        font-variant: small-caps;
        font-size: 0.6em;
        line-height: 3em;
        font-family: "Palatino Linotype", "Book Antiqua", "Palatino", and serif;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    footer::after {
        clear: both;
        content: "";
        display: none;
    }
}