@charset "utf-8";

header, nav {
    display: none;
}

@page {
    margin: 0.5in;
}

body section {
    font-family: 'Courier New', 'sans-serif';
}

h1 {
    font-size: 25pt;
    box-shadow: none;
}

h2 {
    font-size: 18pt;
    box-shadow: none;
}

h3 {
    box-shadow: none;
}

p {
    font-size: 14pt;
}

footer {
    margin: auto;
    padding: 0;
    display: block;
    position: relative;
}


