@charset "utf-8";

header, nav {
    display: none;
}

@page {
    margin: 0.5in;
}

figure {
    width: 50%;
}

body section {
    font-family: 'Courier New', 'sans-serif';
}

h1 {
    font-size: 25pt;
    box-shadow: none;
}

h2 {
    font-size: 18pt;
    box-shadow: none;
}

h3 {
    box-shadow: none;
}

p {
    font-size: 12pt;
}

img {
    display: block;
    margin: auto;
    width: 65%;
    page-break-before: always;
}

table {
    page-break-before: always;
}

ol, ul, li {
    list-style-type: none;
}

.information ol li {
    list-style-image: none;
}

footer {
    margin: auto;
    padding: 0;
    display: block;
    position: relative;
}


